.bg-black{
  background-color: black;
}

.bg-black-logo{
  background-color: blue;
  border-radius: 50%;
}

.bg-black-logo-darkMode{
  background-color: yellow;
  border-radius: 50%;
}

.bg-light-black{
  background-color: #262626 !important;
}

.text-black{
  color: black;
}

.text-light-black{
  color:#262626
}

.bg-dark-primary{
  background: #fcbc73 !important;
}

.text-dark-primary{
  color: #fcbc73
}

.text-light-primary{
  color: #fcbc73
}

.bg-light{
  background: white;
}

.bg-light-2{
  background: #dadcde;
}

.bg-light-primary{
  background: #191659 !important; 
}

.text-light-primary{
  color: #191659 !important;
}