.bg-black{
  background-color: #44B26F;;
}

.bg-black-logo{
  background-color: black;
  border-radius: 50%;
}

.bg-black-logo-darkMode{
  background-color: black;
  border-radius: 50%;
}

.bg-light-black{
  background-color: #133613 !important;
}

.text-black{
  color: black;
}

.text-light-black{
  color:#262626
}

.bg-dark-primary{
  background: #44B26F !important;
}

.text-dark-primary{
  color: #44B26F;
}

.text-light-primary{
  color: #44B26F;
}

.bg-light{
  background: white;
}

.bg-light-2{
  background: #0db564;
}

.bg-light-primary{
  background: #191659 !important; 
}

.text-light-primary{
  color: #191659 !important;
}

.react-tel-input input{
  width: 100% !important;
}